body {
	font-family: Arial, Helvetica, sans-serif;	
}
#add_material, #add_shopping, #add_meal, #stock_report, #settings {
	display: none;
	width: 800px;
	height: 450px;
	border: 1px solid blue;
	background-color: lightyellow;
	position: absolute;
	top: 30px;
	left: 30px;
	overflow: auto;
}
#add_material {
	z-index: 100;
}
#add_shopping {
	z-index: 50;
}
#status {
	display: none;
	width: 200px;
	/*height: 30px;*/
	background-color: #7FD30A;
	color: white;
	text-align: center;
	border-radius: 3px 3px 3px 3px;
	position: absolute;
	top: 45%;
	left: 40%;
	box-shadow: #A0A0A0 3px 3px;
	z-index: 1000;
}
#mat_list {
	width: 380px;
	height: 300px;
	border: 1px solid maroon;
}
.mat_list_line {
	width: 28px;
	text-align: center;
}
.cat_show {
	width: 14px;
	border-radius: 5px 5px 5px 5px;
}
}
